body {
  background-color: #D6EFF5; /* Set background to pastel blue */
  color: midnightblue;
}

.p1 {
  font-family: Arial, Verdana, sans-serif;
}

a {
  font-family: Arial, Verdana, sans-serif;
}

summary {
  font-family: Arial, Verdana, sans-serif;
  color: hsl(237, 78%, 43%);
}

details {
  font-family: Arial, Verdana, sans-serif;
  color: rgb (60, 60, 60);
}

h3 {
  text-decoration: underline overline;
}

h1 {
  text-align: center;
}
